.footer {background:url(img/footer_bg.png) center bottom; text-align:center; color:#FFF; padding:30px 0;
	.wrapper {width:680px;}
	a {color:#FFF;}
	p {margin:0;}
	&__logo {
		img {width:75px;}
	}
	&__copyright {margin:0; font-size:13px;}

	&__social {border:1px solid rgba(255,255,255,.4); border-width:1px 0; margin:25px 0; padding:15px 0;}
	&__label {display:inline-block; vertical-align:middle;}
	&__link {display:inline-block; vertical-align:middle; margin:0 10px; opacity:.7; transition:.5s;
		&:hover {opacity:1;}
		&--maps {
			img {width:40px;}
		}
		&--facebook {
			img {width:18px;}
		}
		&--twitter {
			img {width:40px;}
		}
		&--yelp {
			img {width:75px;}
		}
		&--tripadvisor {
			img {width:56px;}
		}
	}
	.col--3 {border-right:1px solid rgba(255,255,255,.6);}
}